body {
    color: hsl(0, 0%, 100%);
    background-image: radial-gradient(
      circle,
      rgba(20, 105, 202, 0.472) 0%,
      rgba(15, 142, 181, 0.671) 100%,
      rgba(121, 200, 219, 0.644) 50%
    );
  }

  [data-primary-nav-text] {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }

  .blog-route-container {
    background: #0d47a1;
    height: 100vh;
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    padding-top: 50px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .content {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .glow {
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    animation-duration: 1s;
      animation-timing-function: cubic-bezier(0, 0, 0.56, -0.41);
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-fill-mode: none;
      animation-play-state: running;
      animation-name: glow;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000,
        0 0 40px #000000, 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }
    to {
      text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
        0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }